@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices
@model UserModel

@inject IPublicationService PublicationService
@inject IUserService UserService

@{
	ViewBag.Title = $"Профиль {Model.FullName}";
	var publications = PublicationService.GetPublicationModels().Where(p => p.User.Email == Model.Email).ToList();
	publications.Reverse();
}

<div>
	<div>
		@*Шапка*@

	</div>
	<h4>@Model.FullName - @Model.Status</h4>
	<p>@Model.Info</p>
	<p><a asp-area="User" asp-controller="Home" asp-action="ShowSubscribes" asp-route-userEmail="@Model.Email">@Model.Subscribers подписчиков</a></p>
	<p>@Model.Rating рейтинга</p>
</div>

<div>
	<h2>Публикации</h2>
	@foreach (var publication in publications)
	{
		@await Component.InvokeAsync("Publication", new { publicationP = publication })
	}
</div>