@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices
@model UserModel

@inject ITagService TagService

@{
	ViewBag.Title = "Редактировать Профиль";
}

<div>
	<div>
		@*Шапка*@

	</div>
	<form asp-area="User" asp-controller="Home" asp-action="EditProfile" method="post">
		<h4>@Model.FullName - @Model.Status</h4>
		<p>Введите краткую информацию о себе</p>
		<textarea asp-for="Info">@Model.Info</textarea>
		<span asp-validation-for="Info"></span>

		<p>@Model.Subscribers подписчиков</p>
		<p>@Model.Rating рейтинга</p>

		<p>Отображать подписки?</p>
		<select asp-for="ShowSubscriptions"> 
			<option value="@(true)">Да</option>
			<option value="@(false)">Нет</option>
		</select>
		<br />
		<br />

		<button type="submit">Сохранить изменения</button>
	</form>
</div>

<h4><a asp-area="User" asp-controller="Home" asp-action="Profile">Отменить изменения</a></h4>