@using CodeCareer.Areas.User.Services.Interfaces
@using CodeCareer.Areas.User.Services.Implementations.JsonServices
@model UserModel

@inject IPublicationService PublicationService

@{
	ViewBag.Title = "Профиль";
	var publications = PublicationService.GetPublicationModels().Where(p => p.User.Email == Model.Email).ToList();
	publications.Reverse();
}

<div>
	<div> @*Шапка*@

	</div>
	<a asp-area="User" asp-controller="Home" asp-action="EditProfile">Настроить профиль</a>
	<a asp-area="User" asp-controller="Home" asp-action="AddSkillTags">Добавить теги</a>
	<h4>@Model.FullName - @Model.Status</h4>
	<p>@Model.Info</p>
	<p><a asp-area="User" asp-controller="Home" asp-action="ShowSubscribes" asp-route-userEmail="@Model.Email">@Model.Subscribers подписчиков</a></p>
	<p><a asp-area="User" asp-controller="Home" asp-action="ShowSubscriptions" asp-route-userEmail="@Model.Email">@Model.Subscriptions подписок</a></p>
	<p>@Model.Rating рейтинга</p>
</div>

<div>
	<a asp-area="User" asp-controller="Home" asp-action="CreatePublication">Создать публикацию</a>
</div>
<div>
	<h2>Публикации</h2>
	@foreach (var publication in publications)
	{
		@await Component.InvokeAsync("Publication", new { publicationP = publication })
	}
</div>

<a asp-area="User" asp-controller="Home" asp-action="AlienProfile" asp-route-userEmail="@Model.Email">Как мой профиль видят другие?</a>