@model UserModel

@{
	ViewBag.Title = "Профиль";
}

<div>
	<div> @*Шапка*@

	</div>
	<a asp-area="User" asp-controller="Home" asp-action="EditProfile">Настроить профиль</a>
	<h4>@Model.FullName - @Model.Status</h4>
	<p>@Model.Info</p>
	<p>@Model.Subscribers подписчиков</p>
	<p>@Model.Rating рейтинга</p>
</div>

<div>
	<a asp-area="User" asp-controller="Home" asp-action="CreatePublication">Создать публикацию</a>
</div>
<div>
	<h2>Публикации</h2>
	@foreach (var publication in Model.Publications)
	{
		<div>
			<h4>@publication.UserFullName - @publication.CreatedDate</h4>
			<p>@publication.Content</p>
		</div>
	}
</div>